<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>spriggan_red_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{172,456}</string>
                <key>spriteSourceSize</key>
                <string>{200,468}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriggan_red_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{172,456}</string>
                <key>spriteSourceSize</key>
                <string>{200,468}</string>
                <key>textureRect</key>
                <string>{{175,1},{172,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriggan_red_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{172,456}</string>
                <key>spriteSourceSize</key>
                <string>{200,468}</string>
                <key>textureRect</key>
                <string>{{349,1},{172,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriggan_red_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{172,456}</string>
                <key>spriteSourceSize</key>
                <string>{200,468}</string>
                <key>textureRect</key>
                <string>{{523,1},{172,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriggan_red_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{172,456}</string>
                <key>spriteSourceSize</key>
                <string>{200,468}</string>
                <key>textureRect</key>
                <string>{{697,1},{172,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriggan_red_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{172,456}</string>
                <key>spriteSourceSize</key>
                <string>{200,468}</string>
                <key>textureRect</key>
                <string>{{871,1},{172,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriggan_red_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{172,456}</string>
                <key>spriteSourceSize</key>
                <string>{200,468}</string>
                <key>textureRect</key>
                <string>{{1045,1},{172,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spriggan_red_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{172,456}</string>
                <key>spriteSourceSize</key>
                <string>{200,468}</string>
                <key>textureRect</key>
                <string>{{1219,1},{172,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spriggans.png</string>
            <key>size</key>
            <string>{1392,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3ec9bf94a1dc2ea66427556e3661a5f:9724dfd652746af5ecf31a0f67523eb0:145697d9a05ca13e598c5376a9cb308d$</string>
            <key>textureFileName</key>
            <string>spriggans.png</string>
        </dict>
    </dict>
</plist>
